{%  extends 'base.html' %}

{%  block contents %}

<h1> Pages </h1>
<div class="row" >
    {%  for page in pages %}
        <div class="col" >
           <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{page.title}}</h5>
                <p class="card-text">{{page.preview}}</p>
                <a href="{% url 'view_wiki' id=page.id %}" class="btn btn-primary">See more</a>
            </div>
           </div>
        </div>
    {%  endfor %}
</div>

{% endblock %}